html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(177, 177, 177);
}

h1 {
    font-size: 40px;
    position: fixed;
    display: flex;
    justify-content: center;
}

#container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px; /* Optional: Add padding to the container */
}

#centered-element {
    margin: 0 auto; /* Center the element */
}

#right-element {
    margin-left: auto; /* Push the element to the right edge */
}

#header {
    position: relative;
    display: flex;
    flex-direction: row;
    width: auto;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}

#logout-btn {
    height: 30px;
    width: 80px;
    background-color: rgb(54, 54, 54);
    color: white;
    font-size: 18px;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    display: flex;
    margin-left: 800px;
    position: relative;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

#logout-btn:hover {
    background-color: rgb(20, 20, 20);
    color: rgb(201, 201, 201);
    border-color: rgb(201, 201, 201);
}

#register-btn {
    height: 30px;
    width: 80px;
    background-color: rgb(54, 54, 54);
    color: white;
    font-size: 18px;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    display: flex;
    margin-left: 800px;
    position: relative;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

#register-btn:hover {
    background-color: rgb(20, 20, 20);
    color: rgb(201, 201, 201);
    border-color: rgb(201, 201, 201);
}
.form_button {
    height: 30px;
    width: 130px;
    background-color: rgb(54, 54, 54);
    color: white;
    font-size: 13px;
    border-style: solid;
    border-width: 2px;
    display: flex;
    margin-top: 13px;
    margin-bottom: 50px;
    margin-left: 60px;
}

.form_button:hover {
    background-color: rgb(20, 20, 20);
}

.concluir {
    display: flex;
    left: 0px;
    margin-left: 115px;
}

#status-btns {
    display: flex;
    justify-content: center;
    position: relative;
    flex-direction: row;
    margin-right: 220px;
}

#search-form {
    margin-bottom: 30px;
    position: relative;
    display: flex;
    bottom: -15px;
}

#search {
    border-style: solid;
    border-color: black;
    border-width: 2px;
    height: 25px;
    width: 235px;
}

.search-btn {
    background-color: rgb(202, 202, 202);
    border-style: solid;
    border-color: black;
    border-width: 2px;
    height: 31px;
    width: 65px;
}

#main-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

#box-container {
    display: flex;
    justify-content: center;
    position: relative;
    flex-direction: column;
}

#incident_selector_container {
    width: 303px;
    height: 600px;
    background-color: white;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    margin-right: 50px;
}

.incident_selector {
    width: 250px;
    height: 60px;
    background-color: rgb(54, 54, 54);
    color: white;
    font-size: 18px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-left: 25px;
    flex-shrink: 0;
}

.incident_selector.neutral {
    width: 250px;
    height: 60px;
    background-color: rgb(54, 54, 54);
    color: white;
    font-size: 18px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-left: 25px;
    flex-shrink: 0;
}

.incident_selector.in_process {
    background-color: yellow;
    color: black;
    border-style: dashed;
    border-width: 2px;
    border-color: black;
}

.incident_selector.in_process:hover {
    background-color: rgb(199, 199, 0);
    color: black;
}

.incident_selector:hover {
    background-color: rgb(20, 20, 20);
}

#data-container {
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
}

#data {
    background-color: white;
    width: 600px;
    height: auto;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    display: flex;
    position: relative;
    flex-direction: column;
}

#data h2 {
    margin-left: 60px;;
}

#data h4 {
    margin-left: 60px;
    margin-top: 5px;
}

#details {
    margin-left: 60px;
    margin-right: 120px;
    margin-top: 5px;
    margin-bottom: 7px;
    width: 400px;
    height: 100px;
}

#data1 {
    margin-top: 50px;
}